/* From Uiverse.io by andrew-demchenk0 */ 
/* before adding the img to the div with the 
"card-img" class, remove css styles 
.card-img .img::before and .card-img .img::after,
then set the desired styles for .card-img. */
body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(back.svg);
    background-attachment: fixed;
}

header {
    margin-bottom: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5a5a5b6;
}

main {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 150px;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 40px;
}

.card {
    --font-color: #000000;
    --font-color-sub: #7a7a7ad2;
    --font-color-span:#086b21;
    --bg-color: rgba(255, 255, 255, 0.1);
    --main-color: rgba(43, 43, 43, 0.397);
    --main-focus: rgb(21, 123, 233);
  
    width: 230px;
    height: 310px;
    background: var(--bg-color);
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    color: var(--font-color);
    transition: 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card:last-child {
    justify-content: flex-end;
  }
  
  .card-img {
      /* clear and add new css */
    transition: all 0.5s;
    display: flex;
    justify-content: center;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .card-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  
  .card-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  }
  
  .card-img:hover {
    transform: translateY(-3px);
  }
  
  .card-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .card-btn:hover svg {
    fill: var(--main-focus);
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }
  